body {
    background: linear-gradient(90deg, lightgrey, lightblue);
    text-align: center;
}

h1 {
    font-size: 30px;
}

#add-line {
    padding: 20px;
}

.item {
    display: flex;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    justify-items: center;

    border-style: solid;
    border-color: black;
    height: 55px;
    width: 200px;
    padding: 10px;
    margin: auto auto 10px;
    background-color: white;
    border-radius: 10px;
}

.tick-btn {
    padding: 2px;
    margin: auto;
    width: 70px;
}

.items span {
    margin: auto;
}